.Notifications {
    border: 3px dashed #e14852;;
    padding: 1em;
}

.Notifications button img {
    width: 20px;
}

[data-notification-type='default'] {
    color: blue;
}

[data-notification-type='urgent'] {
    color: red;
}