:root {
  --principal-color: #e14852;
}

.App-header {
  display: flex;
  color: var(--principal-color);
  align-items: center;
  border-bottom: 4px solid var(--principal-color);
}

.App-header img {
  width: 200px;
  height: 200px;
}
